version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npx cypress cache clear
            - run: npx cypress install
            - run: npx cypress run --headless
workflows:
  build-and-test:
    jobs:
      - build-and-test
